.table{
    margin-bottom: 32px !important;
}

form h3{
    display: block;
    margin: auto;
}

.promedio{
    background-color: #ffff2d;
}

.malo{
    background-color: #cc0d0d;
    color:white;
}
.bueno{
    background-color: #4ea24e;
    color:white;
}

.chart .col{
    width: 50% !important;
}

canvas{
    display: block !important;
    width: 100% !important;
    height: 380px !important;
}
