.tabla .col{
    overflow-x: scroll;
}

.promedio{
    background-color: #ffff2d;
}

.malo{
    background-color: red;
    color:white;
}
.bueno{
    background-color: #4ea24e;
    color:white;
}

.chart .col{
    width: 50% important;
}