body{
    padding-top: 24px; 
    min-width: 1024px;
    background-color: rgba(2, 56, 103, 49)
}

#body{
    display: none;
}

.container{
    min-width: 960px !important;
    background-color: white;
    border-radius: 18px;
    padding: 24px 18px; 
}

#selectorFecha *{
    width: 60%;
    display: inline;
    margin: auto
}

#fechaHoy{
    font-weight: bold;
}

#landing h3, .loader{
    margin:auto;
}

#loading{
    display: none;
}

.loader .fas{
    font-size: 36px;
    float: left;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader h3{
    float: right;
    margin-left: 20px;
}

.table{
    float: left;
    margin-bottom: 0 !important;
}

#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}

.row.titulo{
    margin-top: 24px;
}

.tabla .col{
    overflow-x: scroll;
}
.chart-container {
    width: 80%;
    margin: 0 auto;
}

canvas{
    margin: auto;
}

.obscuro{
    background-color: #f6f6f6;
    font-weight: bold;
}

.promedio{
    background-color: #ffff2d;
}

.malo{
    background-color: red;
    color:white;
}
.bueno{
    background-color: #4ea24e;
    color:white;
}

.chart .col{
    width: 50% important;
}