@media only screen and (min-width: 992px) {
    .imgMasNomina{
        width: 210px;
        margin: auto;
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .imgMasNomina{
        width: 210px;
        margin: auto;
        display: block;
    }
}

@media only screen and (min-width: 1700px) {
    .imgMasNomina{
        width: 210px;
        margin: auto;
        display: block;
    }
}


body{
    background-color: white;
    color: #2d2026 !important;
    width: calc(100% - 68px);
    margin: auto;
    min-width: 1024px;
    padding: 32px 0;
}

.imgMasNomina{
    width: 310px;
    margin: auto;
    display: block;
}

.table{
    float: left;
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 11px;
}

@media only screen and (min-width: 1500px) {
    table{
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 1360px) {
    table{
        font-size: 12px !important;
    }
}

.chart-container {
    width: 0;
    margin: 0 auto;
}

#inputMes, #inputAno{
    width: 49%;
    float: left;
}

#inputAno{
    margin-left: 1%;
}

thead{
    background-color: #007bff;
    color: white;
}

.form-group .row{
    padding-bottom: 16px;
    border-bottom: #535353 solid 2px;
}


#body{
    display: none;
}

.container{
    background-color: white;
    border: #535353 solid 4px;
    padding: 24px 18px; 

}

#landing h3, .loader{
    margin:auto;
}

#loading{
    display: none;
}

.loader .fas{
    font-size: 36px;
    float: left;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader h3{
    float: right;
    margin-left: 20px;
}

.obscuro{
    background-color: #e2e2f1;
    font-weight: bold;
}


.btn-primary{
    height: 55px;
    margin: 12px;
    margin-bottom: 0;
}

#tituloTabla{
    background-color: #00519D; 
    color: white;
}

.row{
    padding-bottom: 12px;
}

canvas{
    margin: auto;
}

.numero{
    text-align: right;
}

.texto{
    text-align: left;
}