
@media only screen and (min-width: 1200px) {
    canvas{
        display: block !important;
        width: 800px !important;
        height: 610px !important;
    }
}

@media only screen and (min-width: 992px) {
    canvas{
        display: block !important;
        width: 540px !important;
        height: 610px !important;
    }
}

@media only screen and (min-width: 1700px) {
    canvas{
        display: block !important;
        width: 1200px !important;
        height: 610px !important;
    }
}