body{
    padding-top: 24px; 
    min-width: 1024px;
    background-color: rgba(2, 56, 103, 49)
}

.container{
    min-width: 960px !important;
    background-color: white;
    border-radius: 18px;
    padding: 24px 18px; 
}

.table{
    float: left;
}

.chart-container {
    width: 80%;
    margin: 0 auto;
}

#tituloTabla{
    background-color: #535353; 
    color: white;
}

.form-group .row{
    padding-bottom: 16px;
    border-bottom: #535353 solid 2px;
}